In [1]:
import csv
from graph_tool import Graph
import pandas as pd
import netpixi
from netpixi.data.gt import *
import seaborn as sns
from graph_tool import centrality
from graph_tool import clustering
import matplotlib.pyplot as plt
sns.set()

In [94]:
donations = pd.read_csv('vacinas_certo.csv')
donations_drop = donations[['Donating Entity','Donated to','Donation Amount']]
donations_drop.head()

                       Donating Entity   Donated to Donation Amount
0                         Alrosa Group       Angola          50,000
1                         Alrosa Group     Zimbabwe          50,000
2  Association of Healthcare Providers        India    100,000,000*
3                            Australia     Unknown       38,902,000
4                            Australia  Timor-Leste          30,000

In [93]:
pib = pd.read_csv('pib_certo.csv')
pib.head()

               Donating Entity          2020
0                        Aruba           NaN
1  Africa Eastern and Southern  9.008290e+11
2                  Afghanistan  1.980707e+10
3   Africa Western and Central  7.865850e+11
4                       Angola  6.230691e+10

In [96]:
df_final = pd.merge(donations_drop, pib, 
                   on='Donating Entity', 
                   how='left')
df_final.head()

,Donating Entity,Donated to,Donation Amount,2020
0,Alrosa Group,Angola,"50,000",NaN
1,Alrosa Group,Zimbabwe,"50,000",NaN
2,Association of Healthcare Providers,India,"100,000,000*",NaN
3,Australia,Unknown,"38,902,000",1.330900e+12
4,Australia,Timor-Leste,"30,000",1.330900e+12

In [102]:
df = df_final.dropna(0,'any') 
df

    Donating Entity                 Donated to Donation Amount          2020
3         Australia                   Unknown       38,902,000  1.330900e+12
4         Australia                Timor-Leste          30,000  1.330900e+12
5         Australia                   Unknown       10,000,000  1.330900e+12
6         Australia                   Unknown       10,000,000  1.330900e+12
7         Australia                       Fiji       1,000,000  1.330900e+12
..              ...                        ...             ...           ...
379   United States                       Asia       7,000,000  2.093660e+13
380   United States                     Canada       1,500,000  2.093660e+13
381   United States                     Mexico       2,500,000  2.093660e+13
382   United States                     Mexico         428,571  2.093660e+13
383   United States  South and Central America       6,000,000  2.093660e+13

[337 rows x 4 columns]

In [99]:
g = Graph(directed=True)

In [ ]:
with open('ATP_Dataset.csv') as file:
    reader = csv.reader(file, delimiter=',', quotechar='"')
    i = 0
    # Criando uma propriedade para os vértices de Novo Jogador
    g.vp['Nome Jogador'] = g.new_vp('object')
    for row in reader:
        # Separando para apenas o ano de 2015
        if row[3].split("/")[-1] == '15':
            contador1=0
            contador2=0
            
            # Sessão em que evitamos a repetição de nós com os mesmos jogadores
            # A cada linha do database, se checa se já existe um nome na lista de vértices
            for e in g.vertices():
                if g.vp['Nome Jogador'][e] == row[15]:
                    contador1+=1 
                    # Se for encontrado o nome na lista, adiciona 1 na variável para não criar de novo um vértice igual
                if g.vp['Nome Jogador'][e] == row[17]:
                    contador2+=1 
                    # Se for encontrado o nome na lista, adiciona 1 na variável para não criar de novo um vértice igual
                    
            # Checa através da varíavel se ja existe ou não o jogador, se não, cria o vértice
            if contador1 == 0:
                g.add_vertex()
                v = g.vertex(i)
                g.vp['Nome Jogador'][v] = row[15]
                i += 1
                contador1=0
                
            if contador2 == 0:
                g.add_vertex()
                v2 = g.vertex(i)
                g.vp['Nome Jogador'][v2] = row[17]
                i += 1
                contador2 = 0